@import "variables.module.scss";

.empty_flow {
  margin: 13px;
  width: 400px;

  h1 {
    font-family: "Helvetica Neue", "RobotoThin", sans-serif;
    letter-spacing: 1px;
    padding: 0;
    text-transform: none;
    font-weight: 100;
    font-size: 18px;
    margin: 0;
  }

  div {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 18px;
  }
}

.contextMenu {
  z-index: 150;
  border: 1px solid  #ccc;
  background-color: hsl(0,0%,100%);
  border-radius: 5px;
  .menuItem {
    font-size: 14px;
    border-radius: 4px;
    background-color: hsl(0,0%,100%);
    outline: none;
    padding: 10px 16px;
    &:hover {
      color: white;
      background-color: #289f9b;
    }
  }
}
